body {
    background-color: black;
    margin: 0;
    font-family: DejaVu Sans Mono, monospace;
    }

.select-dropdown-content {
    color: black;
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }